 <form materialize class="col s12">
<div>

</div>
<div></div>
<div>
  <div class="row">
  <div class="input-field col s12">
              <input  type="file"  class="validate">
             
            </div>
</div>
  <div class="row">
    <div class="col s6 switch">
      <label>
                multiple
                <input type="checkbox" [value]="isSingle" (change)="valueChanged($event.target.value)">
                <span class="lever"></span>
                single
              </label>
    </div>
  </div>
  <div class="row">
  <div class="input-field col s6">
              <input [(ngModel)]="newOption" name="newOption" placeholder="add option" id="newOption" type="text" class="validate">
            </div>
</div>
<div class="row">
  <div class="input-field col s12">
              <input  type="button" value="Add Option" (click)="addOption()" class="validate">
             
            </div>
</div>
  <div *ngIf="isSingle"  class="row">
    <div *ngFor="let option of options">
    <app-check-box [model]="option"></app-check-box>
    </div>
  </div>
  <div *ngIf="!isSingle"  class="row">
      <div *ngFor="let option of options">
    <app-radio [model]="option"></app-radio>
      </div>
  </div>
 
</div>
 </form>