<!--<div> <a class="btn btn-success " data-toggle="modal" data-target="#AddCompany"><i class="fa fa-arrow-left "  ></i><span>AddNew</span></a></div>-->
 <div class="row">  <a data-toggle="modal" data-target="#AddCompany">Add New Company</a></div> 
<div [hidden]="showCompanyDetail == true">
  <div class="row">

    <div class="panel panel-default">


      <div class="form-group">

        <div role="">

          <form>

            <div class="form-group">


            </div>

            <div class="form-group col-md-12">
              <div class="col-md-12"> <button class="btn" type="button" style="float:right" (click)="cancel_button()">Cancel</button></div>
              <label class="col-md-4" for="usrname"><span class="glyphicon glyphicon-user"></span> Company Name</label>
              <div class="col-md-6"> <input type="text" name="username" [(ngModel)]="ComopayInfo.Name" class=".col-md-8 form-control" placeholder="Enter Company name"
                  (ngModelChange)="change_event_company_name(ComopayInfo.Name)" [ngStyle]="errCompanyName   ? {'border-color':'#a94442'} : {'border-color':'#e9e9e9'}"></div>
              <small style="color: #a94442" [hidden]="errCompanyName == false">please enter updated company name</small>
            </div>

            <div class="form-group col-md-12">
              <label class="col-md-4" for="psw"><span  class="glyphicon glyphicon-eye-open"></span> Phone</label>
              <div class="col-md-6"><input type="text" name="email" numbers-only [(ngModel)]="ComopayInfo.Phone" class="form-control" maxlength="10"
                  placeholder="Enter Phone" ></div>
             
            </div>



            <div class="row">
              <div class="col-md-7"></div>

              <div class="col-md-2"> <button type="submit" class="btn btn-success btn-block col-md-3" (click)=insert_update_company(0,ComopayInfo); [disabled]="is_Show == true" > Update</button></div>
            </div>
          </form>
          <div>

          </div>
        </div>

      </div>

      <div class="" *ngFor="#contadorObjeto of contadorObjetos ; #contadorObjetoI = index" nginit="test='#' id=10" [hidden]="is_Show == true">

        <ul class="nav nav-tabs">
          <li class="nav active" [id]="'IDA' + contadorObjeto.name" ([class.active])="testLocation1() == ('A' + contadorObjeto.name) || '10'">
            <a [attr.href]="'#A' + contadorObjeto.name" data-toggle="tab"> Contacts </a>
          </li>

          <li class="nav" [id]="'IDB' + contadorObjeto.name" ([class.active])="testLocation1() == 'B' + contadorObjeto.name">
            <a [attr.href]="'#B' + contadorObjeto.name" data-toggle="tab"> Calls </a>
          </li>

        </ul>

        <div class="tab-content">

          <div class="tab-pane fade in active" [id]="'A' + contadorObjeto.name">


<div  class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <contact-component (updateCompanyInfo)="updateCompanyInfo($event)" (getContactForparent)="getContactForparent($event)"></contact-component>
              </div>
              <div class="col-md-6" [hidden]="isShow==true">
                <my-contactInfo (updateCompanyInfo)="updateCompanyInfo($event)"></my-contactInfo>
              </div>
            </div>
            </div>
          </div>
          <div class="tab-pane fade in  " [id]="'B' + contadorObjeto.name">
            <div  class="row">
            <div class="col-md-12">
              <div class="col-md-6">

                <call-component (updateParentComponent)="updateParentComponent($event)" (companyInfoDetail)="companyInfoDetail($event)"></call-component>

              </div>
              <div class="col-md-6">
                <callinfo-component (updateCallComponent)="updateCallComponent($event)"></callinfo-component>
              </div>

            </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="AddCompany" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <input type="text" name="username" class=".col-md-8 form-control" placeholder="Name" [(ngModel)]="ComopayInfo.new_Name" (ngModelChange)="change_event_company_name_insert(ComopayInfo.new_Name)"
          [ngStyle]="errCompanyName_insert   ? {'border-color':'#a94442'} : {'border-color':'#e9e9e9'}">


        <small style="color: #a94442" [hidden]="errComperrCompanyName_insert == false">please enter updated company name</small>


        <br>
        <input type="text" name="username" numbers-only class=".col-md-8 form-control" placeholder="Phone" [(ngModel)]="ComopayInfo.new_Phone">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)=insert_update_company(1,ComopayInfo)>Save</button>
      </div>
    </div>

  </div>
</div>
