<div class="container ">
    <form materialize class="col s12">

        <div class="row">
            <div class="input-field col s6">
                <input class="validate" id="company_id" type="text" placeholder="company_id" [(ngModel)]="model.company_id" [ngModelOptions]="{standalone: true}">
                <label for="company_id" class="flow-text ">Company Id</label>
            </div>
            <div class="input-field col s6">
                <input class="validate" id="online_test_title" type="text" placeholder="online_test_title" [(ngModel)]="model.online_test_title"
                    [ngModelOptions]="{standalone: true}">
                <label for="online_test_title" class="flow-text ">Online Test Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="test_start_date">Test Start Date</label>
                <input id="test_start_date" materialize="pickadate" placeholder="dd/mm/yyyy" [materializeParams]="[{selectMonths: true, selectYears: 15, format:'dd/mm/yyyy'}]"
                 [(ngModel)]="model.test_start_date" type="text" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="input-field col s6">
                 <label for="test_end_date">Test End Date</label>
                <input id="test_end_date" materialize="pickadate"  placeholder="dd/mm/yyyy" [materializeParams]="[{selectMonths: true, selectYears: 15, format:'dd/mm/yyyy'}]"
                 [(ngModel)]="model.test_end_date" type="text" [ngModelOptions]="{standalone: true}" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input class="validate ng-valid ng-dirty ng-touched flow-text" type="time" id="test_start_time" [(ngModel)]="model.test_start_time"
                    [ngModelOptions]="{standalone: true}" placeholder="Start Time" />
                <label for="test_start_time" style="margin-top:-25px;font-size:0.8rem">Start Time</label>
            </div>

            <div class="input-field col s6">
                <input class="validate ng-valid ng-dirty ng-touched flow-text" type="time" id="test_end_time" [(ngModel)]="model.test_end_time"
                    [ngModelOptions]="{standalone: true}" placeholder="End Time" />
                <label for="test_end_time" style="margin-top:-25px;font-size:0.8rem">End Time</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <select [(ngModel)]="model.question_set_id" name="model.question_set_id" materialize="material_select">
                    <option value="0" disabled selected>Choose Your Question Set</option>
                    <option *ngFor="let qSet of questionSetData" [value]="qSet.question_set_id">{{qSet.question_set_title}}</option>
                </select>
                <label for="model.question_set_id" class="active" style="top:2px;">Question Set ID</label>
            </div>

            <div class="input-field col s6">
                <input class="validate" id="test_experience_years" type="text" placeholder="test_experience_years" [(ngModel)]="model.test_experience_years"
                    [ngModelOptions]="{standalone: true}">
                <label for="test_experience_years" class="flow-text ">Test Experience Years</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="test_support_text" class="materialize-textarea validate" placeholder="support text" [(ngModel)]="model.test_support_text"
                    [ngModelOptions]="{standalone: true}"></textarea>
                <label for="test_support_text" class="active">Test Support Text</label>
            </div>
        </div>
        <div class="row">
            <!--<button name="addOnlineTest" class="btn btn-info btn-block" (click)=addOnlineTest()><i class="material-icons left">add</i>
            Add Online Test</button>-->
            <button class="btn waves-effect waves-light" type="submit" name="action" (click)=addOnlineTest()>Submit
                    <i class="material-icons right">send</i>
                </button>
        </div>
    </form>
</div>