<div class="row">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3"> <a data-toggle="modal" data-target="#Addnew1">AddNew Company </a></div>
    </div>

    <div class="form-group">

      <div role="">

        <form role="form" method="post" action="/UserRegistration">

          <div class="form-group">


          </div>

          <div class="form-group col-md-12">
            <label class="col-md-4" for="usrname"><span class="glyphicon glyphicon-user"></span> Company Name</label>
            <div class="col-md-6"> <input type="text" name="username" [(ngModel)]="ComopayInfo.Name" class=".col-md-8 form-control" placeholder="Enter Company name"></div>
          </div>

          <div class="form-group col-md-12">
            <label class="col-md-4" for="psw"><span  class="glyphicon glyphicon-eye-open"></span> Phone</label>
            <div class="col-md-6"><input type="text" name="email" [(ngModel)]="ComopayInfo.Phone" class="form-control" placeholder="Enter Phone"></div>
          </div>



          <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-2"> <button type="submit" class="btn btn-success btn-block col-md-3" (click)=update_company(ComopayInfo);> Update</button></div>
          </div>
        </form>
        <div>

        </div>
      </div>

    </div>

    <div class="" *ngFor="#contadorObjeto of contadorObjetos ; #contadorObjetoI = index" nginit="test='#' id=10">

      <ul class="nav nav-tabs">
        <li class="nav active" [id]="'IDA' + contadorObjeto.name" ([class.active])="testLocation1() == ('A' + contadorObjeto.name) || '10'">
          <a [attr.href]="'#A' + contadorObjeto.name" data-toggle="tab"> Contacts </a>
        </li>

        <li class="nav" [id]="'IDB' + contadorObjeto.name" ([class.active])="testLocation1() == 'B' + contadorObjeto.name">
          <a [attr.href]="'#B' + contadorObjeto.name" data-toggle="tab"> Calls </a>
        </li>

      </ul>

      <div class="tab-content">
//contact name add to contact module
        <div class="tab-pane fade in active" [id]="'A' + contadorObjeto.name">

          <h4>Contact list</h4>
          <ul class="items" *ngFor="let contact of company_contact_detail">

            <li>
              <span class="badge" style="width:13%">
                <img style="width:82%" src="http://localhost:3000/app/image/message_outline.png" /></span>
              <a data-toggle="modal" data-target="#myModal" >{{contact.ContactName}} </a>

            </li>

            <select>
                <option >{{contact.ContactNo}}</option>
            </select>

          </ul>

       


        </div>
        <div class="tab-pane fade in " [id]="'B' + contadorObjeto.name">
//call list call module
          <h4> Call List</h4>
          <ul class="items" *ngFor="let call of company_Call_detail">

            <li>
              <span class="badge" style="width:13%"> 
                <img style="width:85%" src="http://localhost:3000/app/image/phone-call-icon-phone_call.png" />
                </span><a data-toggle="modal" data-target="#myModal_call">{{call.CallName}}</a>
            </li>
          </ul>

          <div class="modal fade" id="myModal_call" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <input type="text" name="username" class=".col-md-8 form-control" placeholder="Name"><br>



                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>


        </div>


      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Addnew1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <input type="text" name="username" class=".col-md-8 form-control" placeholder="Name" [(ngModel)]="ComopayInfo.new_Name"><br>
        <input type="text" name="username" class=".col-md-8 form-control" placeholder="Phone" [(ngModel)]="ComopayInfo.new_Phone"><br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)=insert_company(ComopayInfo)>Save</button>
      </div>
    </div>

  </div>
</div>


<div>
  <my-contact></my-contact>
  </div>