<div class="col-md-4">
  <h4 class="col-md-7">company list</h4>

  



  


</div>

<div class="col-md-12">

  <div class="col-md-3">

    <ul class="items" *ngFor="let i of data ; let ind = index">


      <li>
        <span class="badge">{{i.Cmp_ID}}</span> <a (click)="show_company_info(i)">{{i.Cmp_Name}} </a>

        <img style="width:5%" src="http://localhost:3000/app/image/message_outline.png" /> {{i.ContactCount}} 
        <img style="width:5%" src="http://localhost:3000/app/image/phone-call-icon-phone_call.png" /> {{i.CallCount}}

      </li>
    </ul>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-8">

    <div class="row">

      <div class="row">
        
          <company-info (updateCompanyCall)="sntCntctCmpToCountryCmp($event)" (updateCompanyComponent)="UpdateCompanyComponent($event)" (sntCntctCmpToCountryCmp)="sntCntctCmpToCountryCmp($event)"
            (sntCllCmpToCountryCmp)="sntCntctCmpToCountryCmp($event)"></company-info>
        
      </div>

    </div>
  </div>

</div>