
<div *ngIf="!questionVisibility">
      <div class="col-md-6">
        <!--<cool-loading-indicator [hidden]="!isLoading">
          <div class="my-loading">
            <div class="dimmer"></div>
            <div class="loading-bg">
              <img src="/app/image/loader.gif"/>
            </div>
          </div>
        </cool-loading-indicator> -->
        
        <button name="addQuestionSet" class="btn btn-info btn-block pull-right" (click)="addQuestion()" >+ Add Question</button>
        <table class="table TFtable">
          <tr style="background: #dae5f4;">
            <td>Description</td>
            <td>Answer Explanation</td>
            <td></td>
          </tr>
          <tr *ngFor="let question of model" style="cursor:hand;" 
              (click)="selectQuestion(question)"
              [ngClass]="{'row-background': question.question_id==selectedQuestionId }">
            <td>{{question.question_description}}</td>
            <td>{{question.answer_explanation}}</td>
            <td><a >delete</a></td>

            <!--<div style="width:500px">
              <student-info [student]="student" (updateStudentInfo)="UpdateStudentInfo($event)"></student-info>
            </div>-->
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        
      </div>
</div>     
   <!--<app-stats [stats]="stats"></app-stats>-->
   <app-question *ngIf="questionVisibility" [model]="selectedQuestion" (setQuestionVisibility)="SetQuestionVisibility($event)"></app-question>